div {
 background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExeW80Y20xZDJtc3M3NzE3ZXlvYzA1aWk2ZW14d25wODIxOTllZWl1MiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/EZr27ZbJwmjE9PGyLN/giphy.gif");
 background-color: #cccccc;
}
